*{
  margin: 0;
  padding:0;
}
 #titulo-logo{
  font-size: 18pt;
}
.menu{
  position: absolute;
  margin-top: 10px;
  right: 150px;

}
ul li{
  list-style: none;
  display: inline-block;
  margin-left: 15px;
}
ul li a{
  font-size: 12pt;
  color: white;
}
a:link{
  text-decoration: none;
}
.menu-lateral{
  height: 600px;
  padding-top: 50px;
}
.imagem-perfil{
  width: 200px;
  height:200px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.infos-perfil{
  font-size: 12pt;
  color: black;
  margin-left: 50px;
}
.thead-inverse{
  background-color: #3097D1;
  color: white;
}
.adm{
  margin-left: 50px;
}