body{
	background-color: #3b5aa6;
}

h1, h3{
	color: white;
	text-shadow: 2px 2px 2px black;
}

.login-box{
	background-color: white;
	min-height: 300px;
	height: auto;
	width: 400px;
	box-shadow: 2px 2px 2px black;
	border-radius: 2px;
	margin-top: 50px;
	padding: 20px;

}
.faixa-azul{
	width: 100%;
	padding-left: 40px;
	background-color: #3b5aa6;
	text-align: center;
}

form label{
	font-size: 15pt;
	
}

button{
	margin-left: 145px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.conteudo{
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

